.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr );
    background-color:white;
    grid-column-gap: 3em;
    margin: 0 auto;
    
  }
  .grid-item {
    background-color: black;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
  }

  .grid-item:hover {
      background-color:red;
  }
 
  h1 {
      text-align: center;
      font-size: 70px;
      color: red;
  }

  img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
  }


  h2,h3, p {
      font-family: fantasy;
      color:white;
  }
 

a{
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    
}

button{
    background-color: white;
    border-radius: 20px;
}


