* {
    margin: 0;
    padding:0;
}

table {
    width:75%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 1px solid black;
    position: static;
}

img {
    position: relative;
    top: -638px;
}

td {
    height: 49px;
}
tr {
    height: 49px;
}

tr:nth-child(odd) {
    background-color: red;
}