*{
    padding:0;
    margin:0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.grid > .first{
    background-color: skyblue;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.grid > .first:nth-child(odd){
    background-color: pink;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.grid > .second{
    background-color: pink;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.grid > .second:nth-child(odd){
    background-color: skyblue;
    display: inline-block;
    width: 100px;
    height: 100px;
}